/* General */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Source Code Pro", sans-serif;
}

html { /*So when you click on links in the nav, it scrolls smoothly to there instead of instantly*/
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}

/*Transitio n*/

a, .btn {
    transition: all 300ms ease;
}

/*Desktop*/

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
} 

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black; 
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem; 
    color: black;
    transition: color 0.5s ease-out;
}

.logo:hover{
    cursor: default;
    color: gray;
}

/* Hamburger Menu */

#hamburger-nav {
    /*display: none;*/
}

.hamburger-menu{
    display: inline-block;
    position: relative;
}